[Unit]
Description=HAMineGate - Minecraft proxy (HAProxy)
Documentation=https://github.com/QinCai-rui/HAMineGate
After=network.target
Wants=haminegate-motd.service

[Service]
Type=forking
PIDFile=/var/run/haproxy.pid
ExecStart=/usr/sbin/haproxy -D -p /var/run/haproxy.pid -f /root/haproxy/haproxy.cfg
ExecReload=/usr/sbin/haproxy -D -p /var/run/haproxy.pid -f /root/haproxy/haproxy.cfg -sf $MAINPID
ExecStop=/bin/kill -SIGTERM $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
