global
    log stdout format raw local0
    maxconn 4096

    # I am running HAProxy on my OpenWRT router, change path if needed
    lua-load /root/haproxy/minecraft_prot.lua

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 5s
    timeout client 1m
    timeout server 1m

frontend minecraft
    # Listen on both IPv6 and IPv4 on port 25565 (standard Minecraft Java port. change if conflicts with other services)
    bind :::25565 v6only
    bind 0.0.0.0:25565

    # Minecraft Java only listens on TCP
    mode tcp

    # Wait UP TO 500ms for data
    # This may not be necessary, because the lua file (minecraft.lua) already handles imcomplete handshakes
    tcp-request inspect-delay 500ms


    # Now parse the handshake
    tcp-request content lua.mc_handshake

    # reject (or silent-drop) if the parser explicitly failed
    # reject: send TCP RST to client
    # silent-drop: drop the packet and close the connection without sending anything. So client eventually thinks it is a timeout
    tcp-request content reject if { var(txn.mc_proto) -m int 0 }

    # Hostname ACLs
    acl allowed1 var(txn.mc_host) -m reg ^([^.]+\.)*mc\.qincai\.xyz\.?$
    acl allowed3 var(txn.mc_host) -m str 2407:7000:f030:c684::1

    # reject if hostname is not allowed
    tcp-request content reject if !allowed1 !allowed3

    # if we reach this point:
    # - the handshake is complete
    # - the hostname is allowed
    # so we can forward this to the backend
    default_backend velocity

# I am using Velocity as my Minecraft proxy
# 192.168.8.119:25565 is what it is listening on in my local network
# change if needed
backend velocity
    mode tcp
    server vel 192.168.8.119:25565 send-proxy check
    server motd_server 127.0.0.1:25566 backup